@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
}

body {
  width: 90%;
  margin: auto;
  font-family: "Mulish", sans-serif;
}

/* shared styles  */

.d-flex {
  display: flex;
}

.text-primary {
  color: rgb(19, 19, 24);
}
.text-secondary {
  color: rgba(19, 19, 24, 0.7);
}
.text-info {
  color: rgb(255, 84, 0);
}

#btn-primary{
background-color: rgb(255, 84, 0);
color: white;
font-size: 1rem;
font-weight: 700;
padding: 14px 35px;
}
/* nav-area styles  */
